/* Default Styles Rest
----------------------------
*/

html,
body,
ul,
li,
a,
p,
span,
img,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "lato";
}

img {
    max-width: 100% !important;
}

.clr {
    clear: both;
}

input,
textarea {
    outline: none;
}

/* Grid Flex Layout 
--------------------
*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.column_1 {
    flex: 1;
    margin: 1em;
}

.column_2 {
    flex: 2;
    margin: 1em;
}

.column_3 {
    flex: 3;
    margin: 1em;
}

.column_4 {
    flex: 4;
    margin: 1em;
}

.column_5 {
    flex: 5;
    margin: 1em;
}

.column_6 {
    flex: 6;
    margin: 1em;
}

.column_7 {
    flex: 7;
    margin: 1em;
}

.column_8 {
    flex: 8;
    margin: 1em;
}

.column_9 {
    flex: 9;
    margin: 1em;
}

.column_10 {
    flex: 10;
    margin: 1em;
}

.column_11 {
    flex: 11;
    margin: 1em;
}

.column_12 {
    flex: 12;
    margin: 1em;
}

/* Container Wrapper
--------------------
*/

.container {
    box-sizing: border-box;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header
--------------------
*/

.header {
    background: url(../img/landing-bg-4.jpg);
    width: 100%;
    padding: 350px 0;
}


.header h1 {

    font-size: 33px;
    font-weight: 800;
    font-family: "lato";
    text-align: center;
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header h1 span {
    width: 250px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 100px;
}


header .column_8 {
    right: 33%;
    position: relative;
}

header .column_4 {
    left: 10%;
    position: relative;
}

.hdr_lft h2 {
    font-size: 40px;
    font-weight: 400;
    font-family: "lato";
    line-height: 55px;
}

.hdr_rgt img {
    width: 100%;
}

.hdr_lft h6 {
    font-size: 20px;
    font-weight: 400;
    font-family: "lato";
    margin-top: 30px;
}

.hdr_lft h6 span {
    width: 140px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin-left: 20px;
    margin-top: 5px;
}


/* Latest Works
--------------------
*/

.latst_wrks {
    background: #d6f3ff;
    width: 100%;
    padding: 120px 0;
}

.latst_wrks h2 {
    font-size: 33px;
    font-weight: 800;
    font-family: "lato";
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.latst_wrks h2 span {
    width: 230px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 50px;
}

.latst_wrks h5 {
    font-size: 20px;
    color: #474747;
    font-family: "lato";
    margin-bottom: 30px;
}

.latst_wrks h4 {
    font-size: 28px;
    font-weight: 800;
    font-family: "lato";
    color: #0d0c22;
    margin-top: 10px;
}

.latst_wrks h4 span {
    width: 150px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin: 0 auto;
    position: relative;
    right: 200px
}




.latst_wrks h6 {
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    font-family: "lato";
    margin-bottom: 10px;
}

.latst_wrks p {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    font-family: "lato";
    margin-bottom: 30px;
}

.latst_wrks p span {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "lato";
    margin-right: 10px;
    font-size: 16px;
}

.latst_wrks_rgt {
    background: #d6f3ff;
    padding: 20px 0;
}

.latst_wrks_rgt img {
    position: relative;
    top: 40px;
    right: 60px;
    width: 100%;
}

.view_web_btn {
    border: 2px solid #000;
    color: #000;
    display: block;
    border-radius: 5px;
    width: 180px;
    padding: 12px 0;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: "lato";
    text-decoration: none;
    margin-top: 15px;
}

.back_end_blk {
    margin-top: 100px;
}

.back_end_blk .latst_wrks_cntnt {
    float: right;
}

.back_end_blk .latst_wrks_rgt {
    background: #2e5ff2;
    padding: 10px 0;
}

.back_end_blk .latst_wrks_rgt img {
    position: relative;
    top: 40px;
    left: 60px;
    width: 100%;
}

.back_end_blk .column_4 {
    margin-right: 2em;
    position: relative;
    left: 1.5%;
}

.back_end_blk .column_8 {
    position: relative;
    left: 6%;
}

.sr_java_blk {
    margin-top: 100px;
}

.sr_java_blk .latst_wrks_rgt {
    background: #78be20;
    padding: 0px 0;
}


/* Experience
--------------------
*/

.exprinc_block {
    background: #f3f4f9;
    padding: 50px 0;
    overflow: hidden;
}

.exprinc_block h2 {
    font-size: 33px;
    font-weight: 800;
    font-family: "lato";
    margin-bottom: 80px;
    float: right;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 45px;
}

.exprinc_block h2 span {
    width: 220px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin: 0 auto;
    position: relative;
    right: 40px;
}

.exprinc_block h3 {
    font-size: 30px;
    font-weight: 800;
    font-family: "lato";
    color: #000;
    text-transform: uppercase;
}

.exprinc_block p {
    font-size: 20px;
    font-weight: 400;
    font-family: "lato";
    color: #333;
}

.eductin_block {
    background: #d6f3ff;
    padding: 50px 0 80px;
    overflow: hidden;
}

.eductin_block h2 {
    font-size: 35px;
    font-weight: 800;
    font-family: "lato";
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    top: 50%;
}

.eductin_block h2 span {
    width: 200px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 25px;
}

.eductin_block h3 {
    font-size: 29px;
    font-weight: 900;
    font-family: "lato";
    color: #0d0c22;
    text-transform: uppercase;
    margin-top: 30px;
}

.eductin_block p {
    font-size: 20px;
    font-weight: 400;
    font-family: "lato";
    color: #323232;
}

.grd h2 {
    margin-right: 25px;
    text-align: right;
    font-size: 38px;
    font-weight: 800;
    font-family: "lato";
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    top: 40%;
}

.grd h2 span {
    width: 160px;
    height: 6px;
    background: #f2bb16;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 500px;
}

.grd p {
    margin-right: 400px;
    font-size: 20px;
    font-weight: 400;
    font-family: "lato";
    color: #323232;
    text-align: left;
}



/* Footer STyles
--------------------
*/

footer {
    background: #fff;
    padding: 50px 0;
}



.revrs_blk .column_8 {
    right: 33%;
    position: relative;
}

.revrs_blk .column_4 {
    left: 70%;
    position: relative;
}

.sr_java_blk .column_8 {
    right: 33%;
    position: relative;
}

.sr_java_blk .column_4 {
    left: 70%;
    position: relative;
}

.latst_wrks_cntnt {
    width: 90%;
}

/* Responsive Large Screens
---------------------------
*/
@media (max-width: 1024px) {
    .revrs_blk .column_8 {
        right: 33%;
    }

    .sr_java_blk .column_8 {
        right: 33%;
    }

    .revrs_blk .column_4 {
        left: 66%;
    }

    .sr_java_blk .column_4 {
        left: 66%;
    }
}

@media (max-width: 970px) {
    .row {
        display: block;
        flex-wrap: unset;
    }

    .column_1,
    .column_2,
    .column_3,
    .column_4,
    .column_5,
    .column_6,
    .column_7,
    .column_8,
    .column_9,
    .column_10,
    .column_11,
    .column_12 {
        display: block;
        width: 100%;
        flex: unset;
        margin-left: 0;
        margin-right: 0;
    }

    header {
        background: none;
        height: auto;
    }

    .hdr_rgt {
        text-align: center;
    }

    .hdr_rgt img {
        width: 50%;
        margin: 0 auto;
    }

    header .column_8,
    header .column_4 {
        position: unset;
    }

    .revrs_blk .column_8,
    .revrs_blk .column_4 {
        position: unset !important;
        margin-right: 0;
        margin-left: 0;
    }

    .sr_java_blk .column_8,
    .sr_java_blk .column_4 {
        position: unset !important;
    }

    .hdr_lft h2,
    .hdr_lft h6 {
        text-align: center;
    }

    .hdr_lft h6 span {
        margin: 10px auto 0;
        position: relative;
        left: 20px;
    }



    .latst_wrks {
        padding-top: 50px;
    }

    .latst_wrks_rgt {
        background: #f285b8;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        width: auto;
    }

    .latst_wrks_rgt img {
        width: 100%;
        position: unset;
    }

    .back_end_blk .latst_wrks_rgt {
        background: #2e5ff2;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        width: auto;
    }

    .back_end_blk .latst_wrks_rgt img {
        width: 100%;
        position: unset;
    }

    .sr_java_blk .latst_wrks_rgt {
        background: #78be20;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        width: auto;
    }

    .sr_java_blk .latst_wrks_rgt img {
        width: 100%;
        position: unset;
    }

    .latst_wrks_cntnt {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }



    .exprinc_block {
        text-align: center;
    }

    .exprinc_block h2 {
        float: unset;
    }

    .eductin_block {
        text-align: center;
    }

    .eductin_block h2 {
        margin-bottom: 50px;
    }

    .eductin_block h3 {
        margin-top: 50px;
    }


    .back_end_blk .latst_wrks_cntnt {
        float: none;
    }

    .skils_blk {
        text-align: center;
    }


}

/* Responsive CSS Mobiles
----------------------------
*/


@media (max-width: 600px) {
    .skils_blk {
        display: unset;
        text-align: center;
    }

    .skils_blk ul {
        flex: unset;
    }

    .hdr_lft h6 span {
        position: unset;
    }

    .latst_wrks h2 {
        margin-bottom: 50px;
    }

    .latst_wrks h2 span {
        position: unset;
        width: 290px;
    }

    .exprinc_block h2 {
        margin-bottom: 50px;
    }

    .exprinc_block h2 span {
        position: unset;
        width: 245px;
    }

    .eductin_block h2 {
        margin-bottom: 50px;
    }

    .eductin_block h2 span {
        position: unset;
        width: 245px;
    }
}